body{
    background: url("./images/bg.jpg");
    overflow-y :auto;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    color: aliceblue;
    margin-top: 20px;
}
#label1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-weight: bold;
    text-align: left;
    margin-left: 100px;
    font-size: larger;
}
.brand{
    color: aliceblue;
    font-size: large;
}
#button1,#button2{
    background-color: chocolate;
    text-align: center;
    color: aliceblue;
    font-size:medium;
    height: 30px;
    border : 1px solid black;
    padding: 0px 25px;
}
#table1{
    margin-left: 100px;
    padding-top: 300px;
}
thead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    color: chocolate;
    text-align: left;
}
th{
    width: 150px;
    text-align: center;
}
#prdImg{
    width: 60px;
    height :60px;
}
#tabledata{
    color: aliceblue;
    text-align: center;
    
}
td{
    width : 150px;
    height:60px;
}
#buttonPanel{
    margin-left: 100px;
    padding-top: 30px;
}
#tabledata1{
    color: aliceblue;
    text-align: justify;
    width: 300px;
    font-size: small;
}